html{
    background-color:  beige;
    color: darkturquoise;
}

.wrapper{
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    height: 30px;
}

a{
    padding: 10px;
}

table{
    border-width: 5px;
    border-color: blue;
}

tr{


    background-color: orange;
    color: black;
    font-size: x-large;
}

td{
    border-width: 3px;
    border-color: black;
}

th{
    border-width: 3px;
    border-color: black;
}