main{
    background-color: beige;
}

h1{
    margin-left: 40%;
    margin-top: 1%;
}

body{
    margin: 0;
}

.wrapper{
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin_button{
    margin-left: 20px;
    width: 200px;
}

table{

}

tr{


    background-color: orange;
    color: black;
    font-size: x-large;
}

td{
    border-width: 3px;
    border-color: black;
}

th{
    border-width: 3px;
    border-color: black;
}

a{
    color: brown;

}

button{

    width: 90px;
    height: 40px;
}

