html{

}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

body{
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.element_form{

    padding-right: 20px;
}

.element_form input[type="submit"] {
}



input{
    width: 200px;
    height: 40px;
}

.input_and_name{


}

label{
   ;
}