html{
    background-color: beige
}

form{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.element_form{
    padding: 20px;
}

.element_form input[type="submit"] {
    margin-top: 19px;
}



input{
    width: 200px;
    height: 40px;
}

.input_and_name{
    display: flex;
    flex-direction: column;

}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}